.header-screen {
  margin-bottom: 100px;
  p {
    margin: 0;
  }
  .film-name {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .film-note {
    font-size: 20px;
  }
}