.checkbox-comp {
  display: inline-block;
  input {
    display: none;
    &:checked + .label-checkbox {
      background-color: white;
    }
    &:disabled + .label-checkbox {
      background-color: #3b3232;
      cursor: not-allowed;
    }
  }
  .label-checkbox {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.5;
    &:hover {
      cursor: pointer;
    }
    color: black;
  }
  .vip-seat-checkbox {
    border-color: green;
  }
  .deluxe-seat-checkbox {
    border-color: blue;
  }
  .standard-seat-checkbox {
    border-color: white;
  }
  .unknown-seat {
    visibility: hidden;
  }
}